### Python ###
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
env/
pythonenv*

logs/*.log
*.db
*.sqlite
test.db

.env
.env.*
local_settings.py
instance/logging.ini  # Если не нужно коммитить настройки логов

.idea/
*.iml
*.ipr
*.iws

*.swp
*.swo
*~

.coverage
.coverage.*
.cache
.pytest_cache/

.DS_Store
Thumbs.db

build/
dist/
*.exe
*.dll
*.manifest
*.spec

docs/_build/